@charset "UTF-8";
:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size: 18px;
  --font-weight: 400;
  --space: 1rem;
  --space-xs: .4rem;
  --space-s: .8rem;
  --space-l: 1.2rem;
  --space-xl: 1.8rem;
  --line-height: 1.5rem;
  --border: 1px solid;
  --border-radius: 3px;
  --grid-column-gap: var(--space);
  --grid-row-gap: var(--space);
  --grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  --form-label-width: 30%;
  --modal-margin: 2rem auto;
  --modal-width: 50%;
  --modal-min-height: auto;
  --modal-min-width: 600px;
  /* default colors */
  --shadow: 0 0 .5rem rgba(0, 0, 0, 0.6);
  --background-color: hsl(210, 20%, 20%);
  --modal-color: hsl(210, 20%, 22%);
  --text-color: hsl(210, 20%, 100%);
  --border-color: var(--secondary);
  --primary: hsl(210, 70%, 50%);
  --secondary: hsl(210, 20%, 30%);
  --invalid: hsl(0, 70%, 50%);
  --inverse: hsl(0, 0%, 100%);
  /* icons */
  --icon-arrow: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M0,5 l10,10,10,-10z"/></svg>');
}

@media only screen and (max-width: 768px) {
  :root {
    --space: .4rem;
    --modal-margin: 0;
    --modal-width: 100%;
    --modal-min-height: 100%;
    --modal-min-width: auto;
    --grid-column-gap: .4rem;
    --grid-row-gap: .4rem;
    --grid-template-columns: 1fr;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, ::after, ::before {
    transition: none !important;
    animation: none !important;
  }
}
*, ::after, ::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: var(--border) var(--border-color);
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  border-bottom: var(--border);
  border-image: linear-gradient(to right, var(--border-color), transparent) 1;
  padding: 1rem 0;
  margin: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0;
  margin: 0 0 1rem 0;
}

pre {
  margin: 1rem 0;
  padding: var(--space-xs) var(--space-s);
}

body > header {
  position: sticky;
  top: 0;
  border-bottom: var(--border) var(--border-color);
  z-index: 1;
}
body > main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--space);
}
body > footer {
  border-top: var(--border) var(--border-color);
  padding: var(--space);
}

.grid {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-columns: var(--grid-template-columns);
}

input,
select,
textarea,
button,
[role=button],
[role=listbox] {
  display: block;
  width: 100%;
  margin: 0;
  padding: var(--space-xs) var(--space-s);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
}

input:not([type=button], [type=submit], [type=reset]):disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
input:not([type=button], [type=submit], [type=reset]):invalid,
select:invalid,
textarea:invalid {
  --border-color: var(--invalid);
}
input:not([type=button], [type=submit], [type=reset]):focus,
select:focus,
textarea:focus {
  filter: brightness(1.3);
}

button,
input:is([type=button], [type=submit], [type=reset]),
[role=button] {
  display: inline-block;
  width: auto;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--inverse);
  text-decoration: none;
}
button:is(:disabled, [disabled]),
input:is([type=button], [type=submit], [type=reset]):is(:disabled, [disabled]),
[role=button]:is(:disabled, [disabled]) {
  opacity: 0.5;
  pointer-events: none;
}
button:not(:disabled):hover, button:not(:disabled):focus,
input:is([type=button], [type=submit], [type=reset]):not(:disabled):hover,
input:is([type=button], [type=submit], [type=reset]):not(:disabled):focus,
[role=button]:not(:disabled):hover,
[role=button]:not(:disabled):focus {
  filter: brightness(1.1);
}
button:not(:disabled):is(.active, :active),
input:is([type=button], [type=submit], [type=reset]):not(:disabled):is(.active, :active),
[role=button]:not(:disabled):is(.active, :active) {
  filter: brightness(1.3);
}

:is(button, input, [role=button])[type=submit] {
  background-color: var(--primary);
  border-color: var(--primary);
}

input:is([type=checkbox], [type=radio]) {
  display: inline-block;
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:is([type=checkbox], [type=radio]):checked {
  background-color: var(--primary);
  background-clip: content-box;
  box-shadow: inset 0 0 0 0.2rem var(--background-color);
}
input:is([type=checkbox], [type=radio]):checked:focus {
  filter: brightness(1.3);
}

form {
  overflow: hidden;
}
form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
form details[role=group] {
  margin-top: var(--space-xs);
}
form details[role=group] + details[role=group] {
  margin-top: 0;
}
form label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-xs);
  margin-top: var(--space-xs);
  color: var(--text-color);
}
form label:first-child {
  margin-top: 0;
}
form label:last-child {
  margin-bottom: var(--space-xs);
}
form label > :first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  text-transform: capitalize;
  width: var(--form-label-width);
  min-width: var(--form-label-width);
}
form label > :last-child:not(input[type=checkbox], input[type=radio]) {
  flex-grow: 1;
}
form footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--space) 0;
  margin-top: auto;
}

details[role=group][open] {
  animation: expand 0.1s ease-out;
}
details[role=group] summary[role=button] {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
  list-style-type: none;
  border-radius: 0;
  padding: var(--space-xs) var(--space-s);
}
details[role=group] summary[role=button]::-webkit-details-marker {
  display: none;
}
details[role=group] summary[role=button]::before {
  content: " ";
  width: 0.6rem;
  height: 0.6rem;
  transform: rotate(-90deg);
  background-image: var(--icon-arrow);
  transition: transform 0.1s ease-in-out;
}
details[role=group][open] summary[role=button] {
  margin-bottom: var(--space-xs);
}
details[role=group][open] summary[role=button]::before {
  transform: rotate(0);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center right var(--space-s);
  background-image: var(--icon-arrow);
  background-size: 0.6rem;
}

@keyframes sweep-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sweep-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
details[role=menu] {
  line-height: 0; /* WTF? height more than summary */
}

details[role=menu][open] {
  position: relative;
}
details[role=menu][open] summary:focus {
  filter: none;
}
details[role=menu][open] summary::before {
  content: " ";
  position: fixed;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  cursor: default;
  background: transparent;
}
details[role=menu][open] nav {
  position: absolute;
  z-index: 501;
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  filter: brightness(1.3);
  width: auto;
  box-shadow: var(--shadow);
}
details[role=menu][open] nav.bottom-left {
  top: calc(100% + 0.2rem);
  left: 0;
  animation: sweep-down 0.1s ease-out;
}
details[role=menu][open] nav.bottom-right {
  top: calc(100% + 0.2rem);
  right: 0;
  animation: sweep-down 0.1s ease-out;
}
details[role=menu][open] nav.top-left {
  bottom: calc(100% + 0.2rem);
  left: 0;
  animation: sweep-up 0.1s ease-out;
}
details[role=menu][open] nav.top-right {
  bottom: calc(100% + 0.2rem);
  right: 0;
  animation: sweep-up 0.1s ease-out;
}
details[role=menu][open] nav > ul {
  flex-direction: column;
}
details[role=menu][open] nav a {
  white-space: nowrap;
}

[role=listbox] {
  padding: var(--space-xs) 0;
}
[role=listbox] > div {
  position: relative;
  --border: 0;
  /* line for new item */
}
[role=listbox] > div button {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 2rem;
  /* left button (move) */
  /* right button (remove) */
}
[role=listbox] > div button:not(:hover, :focus) {
  background-color: transparent;
}
[role=listbox] > div button:first-child {
  cursor: grab;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
[role=listbox] > div button:first-child::before {
  content: "=";
}
[role=listbox] > div button:last-child {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[role=listbox] > div button:last-child::before {
  content: "×";
}
[role=listbox] > div input {
  padding: 0 2.5rem;
  border-radius: 0;
}
[role=listbox] > div input:not(:invalid) {
  border-color: transparent;
}
[role=listbox] > div:last-child button:last-child::before {
  content: "+";
}

dialog[open] {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: default;
  border: 0;
  padding: 0;
  overflow: auto;
}
dialog[open] > article {
  width: var(--modal-width);
  min-width: var(--modal-min-width);
  min-height: var(--modal-min-height);
  margin: var(--modal-margin);
  background-color: var(--background-color);
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  filter: brightness(1.3);
}

nav {
  display: block;
  width: 100%;
  background-color: var(--background-color);
}
nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav button,
nav input:is([type=button], [type=submit], [type=reset]),
nav [role=button] {
  display: block;
  background-color: var(--background-color);
  border: 0;
  border-radius: 0;
  padding: var(--space-xs) var(--space);
}
nav button:not(:disabled):hover,
nav input:is([type=button], [type=submit], [type=reset]):not(:disabled):hover,
nav [role=button]:not(:disabled):hover {
  filter: brightness(1.3);
}

/*# sourceMappingURL=main.css.map */
