<!DOCTYPE html>
<html lang="en">
<head>
<title>main.css</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" href="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/stackoverflow-dark.min.css" />

<%- include('docs/_style.html') %>
</head>

<body style="display:none;">
<%- include('docs/_header.html') %>
<%- include('docs/_main.html') %>

<script type="module" defer src="/src/main.js"></script>
<script defer src="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>
</body>
</html>
