pre {
    margin: 1rem 0;
    padding: var(--space-xs) var(--space-s);
    box-shadow: var(--shadow-border) hsl(var(--color-secondary));
    border-radius: var(--radius);

    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1rem;
    line-height: var(--line-height);

    & code {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
    }
}
