form {
    display: flex;
    flex-direction: column;
    gap: var(--space);

    border: 0;
    padding: 0;
    margin: 0;

    line-height: var(--line-height);
    color: hsl(var(--color-text));
    font-size: .9rem;
    font-family: inherit;

    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--space-xs);

        margin-top: var(--space);
    }

    fieldset {
        display: flex;
        flex-direction: column;

        border: 0;
        padding: 0;
        margin: 0;

        &>legend {
            position: relative;
            display: block;
            margin-right: auto;
            text-transform: uppercase;
            color: hsl(var(--color-border));
            font-size: .8rem;
            font-weight: 600;
            letter-spacing: .05rem;
            margin-bottom: var(--space);
        }

        &>label {
            margin-bottom: 1px;
            border-radius: 0;

            &:first-of-type {
                border-top-left-radius: var(--radius);
                border-top-right-radius: var(--radius);
            }

            &:last-of-type {
                border-bottom-left-radius: var(--radius);
                border-bottom-right-radius: var(--radius);
            }
        }
    }

    label {
        position: relative;

        display: flex;
        align-items: center;
        color: hsl(var(--color-border));
        white-space: nowrap;

        box-shadow: var(--shadow-border) currentColor;
        border-radius: var(--radius);
        min-height: calc(1rem + var(--space-xs) * 2);

        padding-left: var(--space-s);
        padding-right: var(--space-s);

        &>* {
            font-size: inherit;
            font-family: inherit;
            color: hsl(var(--color-text));

            border: 0;
            border-radius: var(--radius);
            outline: none;

            background-color: transparent;
        }

        &:has(input:focus) {
            background-color: hsl(var(--color-surface) / .5);
            z-index: 1;
        }

        &:has(input:invalid) {
            background-color: hsl(var(--color-danger) / .2);
        }

        &:has(input:disabled) {
            background-color: hsl(var(--color-surface) / .5);

            * {
                cursor: not-allowed !important;
            }
        }

        &:has(textarea) {
            flex-direction: column;
            align-items: flex-start;
            padding-top: var(--space-xs);
            cursor: text;
        }

        &:has(input[type="checkbox"]) {
            cursor: pointer;
        }

        &:has(
            input[type="text"],
            input[type="number"],
            input[type="email"],
            input[type="password"],
            input[type="search"],
            input[type="url"]
        ) {
            cursor: text;
        }
    }

    @import "button";
    @import "checkbox";
    @import "group";
    @import "input";
    @import "select";
    @import "textarea";
}
