.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: var(--radius);
    outline: none;
    padding: var(--space-xs) var(--space-s);

    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    line-height: 1rem;

    &:is(:disabled, .disabled) {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    &:not(.outline) {
        --button-text-color: var(--color-secondary-content);
        --button-color: var(--color-secondary);

        background-color: hsl(var(--button-color));
        color: hsl(var(--button-text-color));
        box-shadow: var(--shadow-border) hsl(var(--button-color));

        &:is(:hover, :focus) {
            filter: brightness(1.1);
        }

        &:is(:active, .active) {
            filter: brightness(0.9);
        }

        &.primary {
            --button-color: var(--color-primary);
            --button-text-color: var(--color-primary-content);
        }

        &.danger {
            --button-color: var(--color-danger);
            --button-text-color: var(--color-danger-content);
        }

        &.success {
            --button-color: var(--color-success);
            --button-text-color: var(--color-success-content);
        }
    }

    &.outline {
        --button-color: var(--color-border);

        background-color: transparent;
        color: hsl(var(--button-color));
        box-shadow: inset var(--shadow-border) hsl(var(--button-color));

        &:is(:hover, :focus) {
            background-color: hsl(var(--button-color) / 0.4);
            filter: brightness(1.1);
        }

        &:is(:active, .active) {
            background-color: hsl(var(--button-color) / 0.2);
            filter: brightness(0.9);
        }

        &.primary {
            --button-color: var(--color-primary);
        }

        &.danger {
            --button-color: var(--color-danger);
        }

        &.success {
            --button-color: var(--color-success);
        }
    }
}
