button,
.button,
[type="button"],
[type="submit"],
[type="reset"],
details>summary {
    --button-text-color: var(--color-secondary-content);
    --button-bg-color: var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: var(--radius);
    padding: var(--space-xs) var(--space-s);

    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    line-height: 1rem;

    background-color: hsl(var(--button-bg-color));
    color: hsl(var(--button-text-color));

    box-shadow: var(--shadow-border) hsl(var(--button-bg-color));
    outline: none;

    &:is(:disabled, .disabled) {
        opacity: var(--button-active-opacity);
        pointer-events: none;
        cursor: not-allowed;
    }

    // &:is(:hover, :focus) {
        // background-color: hsl(var(--button-bg-color) / var(--button-hover-opacity));
        // box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-hover-opacity));
    // }

    // &:is(:active, .active) {
        // background-color: hsl(var(--button-bg-color) / var(--button-active-opacity));
        // box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-hover-opacity));
    // }

    &.danger {
        --button-bg-color: var(--color-danger);
        --button-text-color: var(--color-danger-content);
    }

    &.success {
        --button-bg-color: var(--color-success);
        --button-text-color: var(--color-success-content);
    }

    &.outline {
        background-color: transparent;
        box-shadow: inset var(--shadow-border) hsl(var(--button-bg-color));
        color: hsl(var(--button-bg-color))
    }
}

[type="submit"] {
    --button-bg-color: var(--color-primary);
}
