button,
.button,
[type="button"],
[type="submit"],
[type="reset"],
details>summary {
    --button-bg-opacity: 1;
    --button-hover-opacity: .6;
    --button-active-opacity: .4;
    --button-text-color: var(--color-text) / .9;
    --button-bg-color: var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: var(--radius);
    padding: var(--space-xs) var(--space-s);

    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    color: hsl(var(--button-text-color));
    line-height: 1rem;

    background-color: hsl(var(--button-bg-color) / var(--button-bg-opacity));
    box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-bg-opacity));
    outline: none;

    &:is(:disabled, .disabled) {
        opacity: var(--button-active-opacity);
        pointer-events: none;
    }

    &:is(:hover, :focus) {
        background-color: hsl(var(--button-bg-color) / var(--button-hover-opacity));
        box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-hover-opacity));
    }

    &:is(:active, .active) {
        background-color: hsl(var(--button-bg-color) / var(--button-active-opacity));
        box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-hover-opacity));
    }

    &.danger {
        color: hsl(var(--button-text-color));
        --button-bg-color: var(--color-danger);
    }

    &.success {
        color: hsl(var(--button-text-color));
        --button-bg-color: var(--color-success);
    }

    &.outline {
        --button-bg-opacity: 0;
        box-shadow: inset var(--shadow-border) hsl(var(--button-bg-color));
    }
}

[type="submit"] {
    --button-bg-color: var(--color-primary);
}
