input[type="checkbox"] {
    --border-color: hsl(var(--color-secondary));

    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0;
    width: 2.6rem;
    height: 1.3rem;
    overflow: initial;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;

    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: hsl(var(--color-secondary) / .2);
    transition: .05s all ease-out;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &::before {
        position: absolute;
        content: "";
        display: block;
        transition: .05s all ease-out;

        width: calc(1.3rem - (2 * 3px));
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: unset;
        background-color: hsl(var(--color-secondary));
        border-radius: calc(var(--radius) - .1rem);
    }

    &:checked {
        --border-color: hsl(var(--color-success));
        background-color: hsl(var(--color-success) / .2);
    }

    &:checked::before {
        background: hsl(var(--color-success));
        left: calc(1.3rem + (2 * 3px) - 3px);
    }
}
