select {
    padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-s);

    text-align: right;
    margin-left: auto;
    line-height: 1rem;

    overflow: hidden;

    -webkit-appearance: none;
    -moz-appearance : none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: var(--icon-arrow);
    background-size: 1rem;
}
