select {
    padding: var(--space-xs) var(--space-l) var(--space-xs) var(--space-s);

    text-align: right;
    margin-left: auto;
    line-height: 1rem;

    overflow: hidden;

    -webkit-appearance: none;
    -moz-appearance : none;
    appearance: none;
}

label:has(select) {
    &::after {
        content: '';
        position: absolute;
        right: calc(var(--space-s) - 2px);
        top: var(--space-xs);
        display: block;
        mask-image: var(--icon-arrow);
        -webkit-mask-image: var(--icon-arrow);
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
        aspect-ratio: 1;
        height: 1rem;
        margin-left: -.25rem;
        pointer-events: none;
    }
}
