@keyframes new-alert {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.alert {
    position: relative;
    padding: var(--space-xs) var(--space-s);
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    width: var(--alert-width);

    color: var(--color-primary);
    border-color: currentColor;
    background-color: var(--color-primary-background);

    animation: new-alert .1s ease-out;

    p {
        color: var(--color-text);
        margin: 0;
    }

    &>.close {
        position: absolute;
        top: var(--space-xs);
        right: var(--space-s);
        color: inherit;
        background-color: transparent;
        border: none;

        &:is(:hover, :focus) {
            color: var(--color-primary-focus);
        }
    }

    &.success {
        color: var(--color-success);
        background-color: var(--color-success-background);

        &>.close {
            &:is(:hover, :focus) {
                color: var(--color-success-focus);
            }
        }
    }

    &.danger {
        color: var(--color-danger);
        background-color: var(--color-danger-background);

        &>.close {
            &:is(:hover, :focus) {
                color: var(--color-danger-focus);
            }
        }
    }
}

.alert-stack {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: flex-end;
    right: 1rem;
    bottom: 1rem;
    width: 1px;
    overflow: visible;
}
