details {
    display: block;

    &>summary {
        display: flex;
        align-items: center;
        gap: var(--space-xs);

        cursor: pointer;
        list-style: none;
        user-select: none;

        &::-webkit-details-marker  {
            display: none;
        }

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            border-top: .3rem solid transparent;
            border-bottom: .3rem solid transparent;
            border-left: .3rem solid currentColor;
            transition: transform .1s ease-out;
        }
    }

    &[open]>summary::before{
        transform: rotate(90deg);
    }
}
