:root {
    --icon-check: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M6,14.75 q2,2 4,0 l8,-8 a1,1 0 0 0 -2,-2 l-7,7 q-1,1 -2,0 l-3,-3 a1,1 0 0 0 -2,2z" /></svg>');
    --icon-hamburger: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="3.5" width="16" height="2.5" rx="1" /><rect x="2" y="8.75" width="16" height="2.5" rx="1" /><rect x="2" y="14" width="16" height="2.5" rx="1" /></svg>');
    --icon-close: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M3,5a1,1 0 0 1 2,-2l12,12a1,1 0 0 1 -2,2z M15,3a1,1 0 0 1 2,2l-12,12a1,1 0 0 1 -2,-2z" /></svg>');
    --icon-link: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M20,0l0,8a1,1 0 0 1 -2,0l0,-6 -6,0a1,1 0 0 1 0,-2z M20,1.414l-8,8a1,1 0 0 1 -1.414,-1.414l8,-8z M0,5l0,13a2,2 0 0 0 2,2l13,0a2,2 0 0 0 2,-2l0,-6a1,1 0 0 0 -2,0l0,5a1,1 0 0 1 -1,1l-11,0a1,1 0 0 1 -1,-1l0,-11a1,1 0 0 1 1,-1l5,0a1,1 0 0 0 0,-2l-6,0a2,2 0 0 0 -2,2z"/></svg>');
    --icon-arrow: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M0,5 l10,10,10,-10z"/></svg>');
    --icon-lightness: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10,0a1,1 0 0 1 0,20a1,1 0 0 1 0,-20z M10,2a1,1 0 0 1 0,16z" /></svg>');
    --icon-danger: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/><path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/></svg>');
    --icon-note: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/></svg>');
}

.icon {
    aspect-ratio: 1;
    height: var(--line-height);
}

.icon::before {
    content: "";
    display: block;
    aspect-ratio: 1;
    height: 100%;
    background-color: currentColor;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.icon.check::before {
    mask-image: var(--icon-check);
    -webkit-mask-image: var(--icon-check);
}

.icon.hamburger::before {
    mask-image: var(--icon-hamburger);
    -webkit-mask-image: var(--icon-hamburger);
}

.icon.close::before {
    mask-image: var(--icon-close);
    -webkit-mask-image: var(--icon-close);
}

.icon.link::before {
    mask-image: var(--icon-link);
    -webkit-mask-image: var(--icon-link);
}

.icon.arrow-down::before {
    mask-image: var(--icon-arrow);
    -webkit-mask-image: var(--icon-arrow);
}

.icon.arrow-up::before {
    mask-image: var(--icon-arrow);
    -webkit-mask-image: var(--icon-arrow);
    transform: rotateZ(180deg);
}

.icon.arrow-left::before {
    mask-image: var(--icon-arrow);
    -webkit-mask-image: var(--icon-arrow);
    transform: rotateZ(90deg) translateY(6%);
}

.icon.arrow-right::before {
    mask-image: var(--icon-arrow);
    -webkit-mask-image: var(--icon-arrow);
    transform: rotateZ(-90deg) translateY(6%);
}

.icon.lightness::before {
    mask-image: var(--icon-lightness);
    -webkit-mask-image: var(--icon-lightness);
}
