dialog {
    width: var(--modal-width);
    min-width: var(--modal-min-width);
    min-height: var(--modal-min-height);
    margin: var(--modal-margin);
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-background));
    box-shadow:
        var(--shadow-border) hsl(var(--color-secondary)),
        0 1px 3px 0 hsl(var(--color-secondary)),
        0 1px 2px -1px hsl(var(--color-secondary));
    border: 0;
    border-radius: var(--radius);
    padding: 0;

    &::backdrop {
        background-color: hsl(var(--color-background) / .5);
        animation: modal-pop .2s ease-out;
    }

    &>header {
        display: flex;
        align-items: center;
        padding: var(--space);
        border-bottom: var(--border-width) solid hsl(var(--color-secondary));
    }

    &>article {
        padding: var(--space);
    }

    &>form {
        padding: var(--space);

        footer {
            margin-left: calc(-1 * var(--space));
            margin-right: calc(-1 * var(--space));
            padding-left: var(--space);
            padding-right: var(--space);
            padding-bottom: 0;
        }
    }

    &>footer {
        border-top: var(--border-width) solid hsl(var(--color-secondary));
        padding: var(--space);
    }
}
