.note {
    display: block;
    margin: 1rem 0;
    padding: var(--space-xs) var(--space-s);
    border: var(--border);
    border-left-width: calc(var(--border-width) * 4);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: var(--color-text);
    background-color: var(--color-background);

    &.success {
        color: var(--color-text);
        background-color: var(--color-success-background);
        --private-color-block: var(--color-success);
    }

    &.danger {
        color: var(--color-text);
        background-color: var(--color-danger-background);
        --private-color-block: var(--color-danger);
    }

    &>:is(header, summary) {
        font-weight: bold;
        border-color: var(--private-color-block);
        color: var(--private-color-block);
        padding: 0 var(--space-s) var(--space-xs) var(--space-s);
        margin: 0 calc(var(--space-s) * -1);

        &+* {
            margin-top: var(--space-xs);
        }
    }

    &>:first-child {
        margin-top: 0;
    }

    &>:last-child {
        margin-bottom: 0;
    }
}
