.note {
    position: relative;
    margin: 1rem 0;
    padding: var(--space-xs) var(--space-s);
    padding-left: calc(var(--line-height) + 2 * var(--space-s));
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;

    --icon: var(--icon-note);
    --color: hsl(var(--color-primary));

    color: hsl(var(--color-text));
    border-color: var(--color);

    &::before {
        content: "";
        position: absolute;
        left: var(--space-s);
        display: block;
        mask-image: var(--icon);
        -webkit-mask-image: var(--icon);
        mask-size: contain;
        -webkit-mask-size: contain;
        aspect-ratio: 1;
        background-color: var(--color);
        height: var(--line-height);
    }

    &>header {
        font-weight: 600;
        padding-bottom: var(--space-xs);
        color: var(--color);
    }

    &>p {
        margin: var(--space-s) 0;
    }

    &.success {
        --color: hsl(var(--color-success));
    }

    &.danger {
        --icon: var(--icon-danger);
        --color: hsl(var(--color-danger));
    }
}
