.note {
    --icon: var(--icon-note);
    --note-color: hsl(var(--color-primary));

    position: relative;
    margin: 1rem 0;
    padding: var(--space-s);
    padding-left: calc(var(--line-height) + 2 * var(--space-s));
    border-radius: var(--radius);
    overflow: hidden;

    color: hsl(var(--color-text));
    box-shadow: var(--shadow-border) var(--note-color);

    &>:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: var(--space-s);
        display: block;
        mask-image: var(--icon);
        -webkit-mask-image: var(--icon);
        mask-size: contain;
        -webkit-mask-size: contain;
        aspect-ratio: 1;
        background-color: var(--note-color);
        height: var(--line-height);
    }

    &>header {
        font-weight: 600;
        padding-bottom: var(--space-xs);
        color: var(--note-color);
    }

    &>p {
        margin: var(--space-s) 0;
    }

    &.success {
        --note-color: hsl(var(--color-success));
    }

    &.danger {
        --icon: var(--icon-danger);
        --note-color: hsl(var(--color-danger));
    }
}
