@use "sass:math";

@function spin($i) {
    $result: ();
    @for $n from 0 to 5 {
        $v: math.clamp(0, $i - $n, 6);
        $v: 0deg + math.div($v * 180, 12);
        $v: math.round(100% * math.sin($v));
        $result: $result, $v
    }
    @return $result;
}

@keyframes spin {
    @for $i from 0 through 10 {
        #{$i * 10%} { background-position-x: spin($i); }
    }
}

.spinner {
    --color: hsl(var(--color-primary));
    --size: 1rem;

    margin: 0 auto;
    height: var(--size);
    --private-spinner-dot: radial-gradient(farthest-side, var(--color) 70%, transparent) center no-repeat;
    background:
        var(--private-spinner-dot),
        var(--private-spinner-dot),
        var(--private-spinner-dot),
        var(--private-spinner-dot),
        var(--private-spinner-dot);
    background-size: var(--size) var(--size);
    animation: 2s linear 0s infinite spin;

    mask: radial-gradient(circle, black 40%, transparent 80%) center no-repeat;
    -webkit-mask: -webkit-radial-gradient(circle, black 40%, transparent 80%) center no-repeat;
}

@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}

button[data-busy]::before {
        --color: hsl(var(--color-text));
        --size: 1rem;

        content: "";
        display: inline-block;
        width: var(--size);
        height: var(--size);
        border: .1875rem solid var(--color);
        border-radius: 1rem;
        border-right-color: transparent;
        vertical-align: -.125rem;
        animation: circle .75s linear infinite;
        opacity: .5;
        margin-right: var(--space-xs);
}
