details.spoiler {
    margin: 1rem 0;
    padding: var(--space-xs) var(--space-s);
    box-shadow: var(--shadow-border) hsl(var(--color-secondary));
    border-radius: var(--radius);
    overflow: hidden;

    color: hsl(var(--color-text));

    &>summary {
        cursor: pointer;
        user-select: none;
        font-weight: 600;
        padding: var(--space-xs) var(--space-s);
        margin: calc(var(--space-xs) * -1) calc(var(--space-s) * -1);

        background-color: hsl(var(--color-secondary) / .2);
    }

    &[open]>summary {
        margin-bottom: 0;
    }

    &>p {
        margin: var(--space-s) 0;
    }
}
