table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead th {
        font-weight: 600;
        border-bottom: var(--border-width) solid hsl(var(--color-border));
        text-transform: capitalize;
    }

    td, th {
        padding: var(--space-xs) var(--space-s);
    }
}
