table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    & > thead > tr > th, .cell.header {
        font-weight: 600;
        border-bottom: var(--border-width) solid hsl(var(--color-secondary));
        text-transform: capitalize;
    }

    & td, & th, & .cell {
        padding: var(--space-xs) var(--space-s);
    }

    &.hoverable > tbody > tr:hover {
        background-color: hsl(var(--color-secondary) / .1);
    }
}
