@keyframes new-toast {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.toast {
    --toast-color: var(--color-primary);

    position: relative;
    padding: var(--space-xs) var(--space-s);
    border-radius: var(--radius);
    overflow: hidden;
    width: var(--toast-width);

    background-color: hsl(var(--toast-color) / .2);
    box-shadow:
        var(--shadow-border) hsl(var(--toast-color)),
        0 1px 3px 0 hsl(var(--color-secondary)),
        0 1px 2px -1px hsl(var(--color-secondary));

    animation: new-toast .1s ease-out;

    p {
        color: hsl(var(--color-text));
        margin: 0;
    }

    &>.close {
        position: absolute;
        top: 0;
        right: 0;
        color: inherit;
        background-color: transparent;
    }

    &.success {
        --toast-color: var(--color-success);
    }

    &.danger {
        --toast-color: var(--color-danger);
    }
}

.toast-stack {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: flex-end;
    right: 1rem;
    bottom: 1rem;
    width: 1px;
    overflow: visible;
}
