@keyframes sweep-down {
    0%    { opacity: 0; transform: translateY(-10px) }
    100%  { opacity: 1; transform: translateY(0) }
}

@keyframes sweep-up {
    0%    { opacity: 0; transform: translateY(10px) }
    100%  { opacity: 1; transform: translateY(0) }
}

details.menu {
    line-height: 0; /* WTF? height more than summary */
}

details.menu[open] {
    position: relative;

    summary {
        &:focus {
            filter: none;
        }

        &::before {
            content: " ";
            position: fixed;
            z-index: 500;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            cursor: default;
            background: transparent;
        }
    }

    nav {
        position: absolute;
        z-index: 501;
        border: var(--border);
        border-color: var(--secondary);
        border-radius: var(--border-radius);
        filter: brightness(var(--layer-brightness));
        width: auto;

        /* default bottom-left */
        top: calc(100% + .2rem);
        bottom: auto;
        left: 0;
        right: auto;
        animation: sweep-down .1s ease-out;

        &>ul {
            flex-direction: column;
        }

        a {
            white-space: nowrap;
        }
    }

    &.bottom-right nav {
        top: calc(100% + .2rem);
        bottom: auto;
        left: auto;
        right: 0;
        animation: sweep-down .1s ease-out;
    }

    &.top-left nav {
        top: auto;
        bottom: calc(100% + .2rem);
        left: 0;
        right: auto;
        animation: sweep-up .1s ease-out;
    }

    &.top-right nav {
        top: auto;
        bottom: calc(100% + .2rem);
        left: auto;
        right: 0;
        animation: sweep-up .1s ease-out;
    }
}
