@keyframes sweep-down {
    0%    { opacity: 0; transform: translateY(-10px) }
    100%  { opacity: 1; transform: translateY(0) }
}

@keyframes sweep-up {
    0%    { opacity: 0; transform: translateY(10px) }
    100%  { opacity: 1; transform: translateY(0) }
}

.dropdown {
    position: relative;

    &>:first-child {
        &::after {
            display: block;
            content: "...";
            text-align: center;
        }

        &:not(:empty)::after {
            display: inline-block;
            content: " ";
            margin-left: var(--space-s);
            background: var(--icon-arrow);
            width: .6rem;
            height: .6rem;
        }
    }

    &:not(.open)>nav {
        display: none;
    }

    &>nav {
        position: absolute;
        z-index: 1;
        border: var(--border);
        border-radius: var(--border-radius);
        width: auto;
        box-shadow: var(--shadow);

        /* default bottom-left */
        top: calc(100% + .2rem);
        bottom: auto;
        left: 0;
        right: auto;
        animation: sweep-down .1s ease-out;

        &>ul {
            flex-direction: column;
        }

        button,
        .button,
        input:is([type=button], [type=submit], [type=reset]) {
            width: 100%;
            white-space: nowrap;
            text-align: left;
        }
    }

    &.bottom-right nav {
        top: calc(100% + .2rem);
        bottom: auto;
        left: auto;
        right: 0;
        animation: sweep-down .1s ease-out;
    }

    &.top-left nav {
        top: auto;
        bottom: calc(100% + .2rem);
        left: 0;
        right: auto;
        animation: sweep-up .1s ease-out;
    }

    &.top-right nav {
        top: auto;
        bottom: calc(100% + .2rem);
        left: auto;
        right: 0;
        animation: sweep-up .1s ease-out;
    }
}
