@keyframes sweep-down {
    0%    { opacity: 0; transform: translateY(-10px) }
    100%  { opacity: 1; transform: translateY(0) }
}

@keyframes sweep-up {
    0%    { opacity: 0; transform: translateY(10px) }
    100%  { opacity: 1; transform: translateY(0) }
}

.dropdown {
    position: relative;

    &>:first-child {
        cursor: pointer;

        &::after {
            display: block;
            content: "...";
            text-align: center;
        }

        &:not(:empty)::after {
            display: inline-block;
            content: "";
            margin-left: var(--space-s);
            background-color: currentColor;
            mask-image: var(--icon-arrow);
            -webkit-mask-image: var(--icon-arrow);
            width: .6rem;
            height: .6rem;
        }
    }

    &>summary::before {
        content: none;
        mask: none;
        -webkit-mask: none;
        background-color: transparent;
        width: unset;
        height: unset;
    }

    &[open]>summary::before {
        content: "";
        position: fixed;
        z-index: 1;
        inset: 0;
    }

    &:is(.open, [open], .hover:hover)>.menu,
    &>.menu.open {
        display: flex;
    }

    &>.menu {
        display: none;
        position: absolute;
        z-index: 1;

        border: var(--border);
        flex-direction: column;
        border-radius: var(--border-radius);
        overflow: hidden;
        min-width: 100%;

        /* default bottom-left */
        animation: sweep-down .1s ease-out;
        top: 100%;
        bottom: auto;
        left: 0;
        right: auto;


        &>:is(button, .button, [type="button"], [type="submit"], [type="reset"]) {
            width: 100%;
        }
    }

    &.bottom-right>.menu {
        animation: sweep-down .1s ease-out;
        top: 100%;
        bottom: auto;
        left: auto;
        right: 0;
    }

    &.top-left>.menu {
        animation: sweep-up .1s ease-out;
        top: auto;
        bottom: 100%;
        left: 0;
        right: auto;
    }

    &.top-right>.menu {
        animation: sweep-up .1s ease-out;
        top: auto;
        bottom: 100%;
        left: auto;
        right: 0;
    }
}
