div.listbox {
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;

    & div {
        position: relative;
    }

    button {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        padding: 0 var(--space-s);
        border: 0;

        &.handle {
            cursor: grab;
            left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            & ~ input {
                padding-left: 2.5rem;
            }

            &::before {
                content: "=";
            }
        }

        &.remove {
            right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            & ~ input {
                padding-right: 2.5rem;
            }

            &::before {
                content: "\00d7";
            }
        }

        &.append {
            right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &::before {
                content: "+";
            }
        }

        &:not(:hover) {
            background-color: transparent;
        }

        &:hover ~ input {
            background-color: var(--color-secondary-background);
        }
    }

    input {
        padding: var(--space-xs) var(--space-s);
        border: var(--border);
        border-color: transparent;
        border-radius: 0;

        &:hover {
            background-color: var(--color-secondary-background);
        }

        &:invalid {
            border-color: hsl(var(--color-danger));
            background-color: hsla(var(--color-danger), .2);
        }
    }
}
