div.listbox {
    padding: var(--space-xs) 0;

    &>div {
        position: relative;

        &::before {
            content: "=";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2rem;
            padding: .2rem 0;
            text-align: center;
            cursor: grab;
        }

        button {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 0;
            border: 0;
            width: 2rem;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &::before {
                content: "\00d7";
            }

            &:not(:hover) {
                background-color: transparent;
            }

            &:hover ~ input {
                background-color: var(--color-secondary-background);
            }
        }

        input {
            padding: .2rem 2.5rem;
            border: var(--border);
            border-color: transparent;
            border-radius: 0;

            &:hover {
                background-color: var(--color-secondary-background);
            }

            &:invalid {
                border-color: var(--color-danger);
                background-color: var(--color-danger-background);
            }
        }

        /* line for new item */
        &:last-child {
            button::before {
                content: "+";
            }
        }
    }
}
