nav,
.menu {
    display: flex;
    width: auto;
    background-color: var(--color-background);
    user-select: none;

    & button,
    & .button,
    & input:is([type=button], [type=submit], [type=reset]) {
        border: 0;
        border-radius: 0;
        white-space: nowrap;
        white-space: nowrap;
        text-align: left;

        color: var(--color-text);
        background-color: var(--color-background);

        &:is(:hover, :focus) {
            background-color: var(--color-secondary-focus);
        }

        &:is(:active, .active) {
            background-color: var(--color-secondary-active);
        }
    }
}
