:is(nav, .menu) {
    display: flex;
    width: auto;
    background-color: var(--color-background);
    user-select: none;

    &>hr:is(:first-child, :last-child) {
        display: none;
    }

    &>.dropdown:hover>:first-child {
        background-color: hsla(var(--color-primary), .2);
    }

    &>a,
    &>.dropdown>:first-child {
        white-space: nowrap;
        text-align: left;
        font-weight: normal;

        padding: var(--space-xs) var(--space-s);
        color: var(--color-text);
        background-color: var(--color-background);

        &:is(:hover, :focus, :active, .active) {
            background-color: hsla(var(--color-primary), .2);
            filter: none;
        }

        &.danger {
            color: hsl(var(--color-danger));
        }

        &.success {
            color: hsl(var(--color-success));
        }
    }
}
