:is(nav, .menu) {
    display: flex;
    width: auto;
    background-color: var(--color-background);
    user-select: none;

    &>hr:is(:first-child, :last-child) {
        display: none;
    }

    :is(button, .button, [type="button"], [type="submit"], [type="reset"]) {
        border: 0;
        border-radius: 0;
        white-space: nowrap;
        text-align: left;
        font-weight: normal;

        color: var(--color-text);
        background-color: var(--color-background);

        &.danger {
            color: var(--color-danger);
        }

        &.success {
            color: var(--color-success);
        }

        &:is(:hover, :focus) {
            background-color: var(--color-secondary-focus);
        }

        &:is(:active, .active) {
            background-color: var(--color-secondary-focus);
        }
    }
}
