dialog {
    &::backdrop {
        background-color: hsla(var(--color-background), .5);
        animation: modal-pop .2s ease-out;
    }

    width: var(--modal-width);
    min-width: var(--modal-min-width);
    min-height: var(--modal-min-height);
    margin: var(--modal-margin);
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-background));
    box-shadow: var(--shadow-border) hsl(var(--color-secondary));
    border: 0;
    border-radius: var(--radius);
    padding: 0;

    &>header {
        display: flex;
        align-items: center;
        padding: var(--space);
        border-bottom: var(--border-width) solid hsl(var(--color-secondary));

        &>.close {
            position: absolute;
            color: inherit;
            background-color: transparent;
            right: calc(var(--space) - var(--space-xs));
            top: calc(var(--space) - var(--space-xs));
        }
    }

    &>article {
        padding: var(--space);
    }

    &>form {
        padding-top: var(--space);
        padding-bottom: var(--space);

        footer {
            padding-bottom: 0;
        }
    }

    &>footer {
        border-top: var(--border-width) solid hsl(var(--color-secondary));
        padding: var(--space);
    }
}
