.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 1;

    &:not(.open) {
        display: none;
    }

    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--color-background);
        opacity: .5;
        filter: grayscale(100%);
    }

    &>.dialog {
        position: relative;
        z-index: 2;
        width: var(--modal-width);
        min-width: var(--modal-min-width);
        min-height: var(--modal-min-height);
        margin: var(--modal-margin);
        background-color: var(--color-background);
        border: var(--border);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        &>header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: var(--border);
            padding: var(--space);
        }

        &>footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: var(--space-xs);
            border-top: var(--border);
            padding: var(--space);
        }
    }
}
