.modal {
    position: fixed;
    inset: 0;
    overflow: auto;
    z-index: 2;

    &:not(.open) {
        display: none;
    }

    &::before {
        position: fixed;
        content: "";
        display: block;
        inset: 0;
        background-color: var(--color-background);
        opacity: .5;
        filter: grayscale(100%);
    }

    &>.dialog {
        position: relative;
        z-index: 1;
        width: var(--modal-width);
        min-width: var(--modal-min-width);
        min-height: var(--modal-min-height);
        margin: var(--modal-margin);
        background-color: var(--color-background);
        border: var(--border);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        &>header {
            border-bottom: var(--border);
            padding: var(--space);
        }

        &>article {
            padding: var(--space);
        }

        &>form {
            padding-top: var(--space);
            padding-bottom: var(--space);

            footer {
                padding-bottom: 0;
            }
        }

        &>footer {
            border-top: var(--border);
            padding: var(--space);
        }
    }
}
