input,
select,
textarea,
button,
.button {
    margin: 0;
    line-height: var(--line-height);
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
    outline: none;
    font-size: 1rem;
}

input:not([type="button"], [type="submit"], [type="reset"]),
select,
textarea {
    display: block;
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--space-xs) var(--space-s);

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:focus {
        background-color: var(--color-secondary-background);
    }

    &:invalid {
        border-color: var(--color-danger);
        background-color: var(--color-danger-background);
    }
}

textarea, pre {
    font-family: var(--font-monospace);
}

@import "button";
@import "checkbox";
@import "form";
@import "group";
@import "select";
