input,
select,
textarea,
button,
.button,
[role="listbox"] {
    display: block;
    width: 100%;
    margin: 0;
    padding: var(--space-xs) var(--space-s);
    line-height: var(--line-height);
    background: var(--background);
    color: var(--text-color);
    border: var(--border);
    border-color: var(--secondary);
    border-radius: var(--border-radius);
    overflow: hidden;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
}

input:not([type="button"],[type="submit"],[type="reset"]),
select,
textarea {
    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:invalid {
        border-color: var(--invalid);
    }

    &:focus {
        filter: brightness(var(--layer-brightness));
    }
}

@import "button";
@import "checkbox";
@import "form";
@import "group";
@import "input";
@import "select";
