button,
.button,
[type="button"],
[type="submit"],
[type="reset"] {
    --button-bg-opacity: 1;
    --button-hover-opacity: .6;
    --button-active-opacity: .4;
    --button-text-color: var(--color-text) / .9;
    --button-bg-color: var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: var(--radius);
    padding: var(--space-xs) var(--space-s);

    color: hsl(var(--button-text-color));
    background-color: hsl(var(--button-bg-color) / var(--button-bg-opacity));

    box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-bg-opacity));

    &:is(:disabled, .disabled) {
        opacity: var(--button-active-opacity);
        pointer-events: none;
    }

    &:is(:hover, :focus) {
        background-color: hsl(var(--button-bg-color) / var(--button-hover-opacity));
        box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-hover-opacity));
    }

    &:is(:active, .active) {
        background-color: hsl(var(--button-bg-color) / var(--button-active-opacity));
        box-shadow: var(--shadow-border) hsl(var(--button-bg-color) / var(--button-hover-opacity));
    }

    &.danger {
        color: hsl(var(--button-text-color));
        --button-bg-color: var(--color-danger);
    }

    &.success {
        color: hsl(var(--button-text-color));
        --button-bg-color: var(--color-success);
    }

    &.outline {
        --button-bg-opacity: 0;
        box-shadow: inset var(--shadow-border) hsl(var(--button-bg-color));
    }

    &.close {
        padding: var(--space-xs);
        border-radius: 1000px;
        background-color: transparent;

        box-shadow: none;

        &:is(:hover, :focus) {
            opacity: var(--button-hover-opacity);
        }

        &:is(:active, .active) {
            opacity: var(--button-active-opacity);
        }

        &::before {
            display: block;
            aspect-ratio: 1;
            height: var(--line-height);

            content: "";

            background-color: currentColor;
            mask-position: center;
            -webkit-mask-position: center;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-image: var(--icon-close);
            -webkit-mask-image: var(--icon-close);
        }
    }
}

[type="submit"] {
    --button-bg-color: var(--color-primary);
}
