button,
.button,
[type="button"],
[type="submit"],
[type="reset"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: var(--radius);
    padding: var(--space-xs) var(--space-s);

    &:is(:disabled, .disabled) {
        opacity: .5;
        pointer-events: none;
    }

    color: hsl(var(--color-text));
    background-color: hsl(var(--color-secondary));

    &:is(:hover, :focus) {
        filter: var(--filter-focus);
    }

    &:is(:active, .active) {
        filter: var(--filter-active);
    }

    &.danger {
        color: hsl(var(--color-text));
        background-color: hsl(var(--color-danger));
    }

    &.success {
        color: hsl(var(--color-text));
        background-color: hsl(var(--color-success));
    }

    &.close {
        padding: var(--space-xs);
        border-radius: 1000px;
        background-color: transparent;

        &::before {
            display: block;
            aspect-ratio: 1;
            height: var(--line-height);

            content: "";

            background-color: currentColor;
            mask-position: center;
            -webkit-mask-position: center;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-image: var(--icon-close);
            -webkit-mask-image: var(--icon-close);
        }
    }
}

[type="submit"] {
    background-color: hsl(var(--color-primary));
}
