button,
.button,
[type="button"],
[type="submit"],
[type="reset"] {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    padding: var(--space-xs) var(--space-s);
    vertical-align: top; /* required for inline-block */

    &:is(:disabled, .disabled) {
        opacity: .5;
        pointer-events: none;
    }

    color: hsl(var(--color-text));
    border-color: hsl(var(--color-secondary));
    background-color: hsl(var(--color-secondary));

    &:is(:hover, :focus) {
        filter: var(--filter-focus);
    }

    &:is(:active, .active) {
        filter: var(--filter-active);
    }

    &.danger {
        color: hsl(var(--color-text));
        border-color: hsl(var(--color-danger));
        background-color: hsl(var(--color-danger));
    }

    &.success {
        color: hsl(var(--color-text));
        border-color: hsl(var(--color-success));
        background-color: hsl(var(--color-success));
    }

    &.icon {
        &:empty {
            padding: 0;
            border: 0;
            border-radius: 50%;

            &::before {
                height: 1rem;
                margin: auto;
            }
        }

        &:not(:empty) {
            aspect-ratio: initial;
            height: auto;
            display: inline-flex;
            align-items: center;
            gap: var(--space-xs);

            &::before {
                height: 1rem;
            }
        }
    }
}

[type="submit"] {
    border-color: hsl(var(--color-primary));
    background-color: hsl(var(--color-primary));
}
