:is(
    input[type="checkbox"],
    input[type="radio"]
) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-background);

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:focus {
        background-color: hsla(var(--color-secondary), .2);
    }

    &::before {
        position: absolute;
        content: "";
        display: block;
        inset: .2rem;
        background-color: transparent;
        transition: .1s background-color ease-out;
    }

    &:checked::before {
        background-color: hsl(var(--color-primary));
    }
}

input[type="radio"] {
    border-radius: 50%;

    &::before {
        border-radius: 50%;
    }
}

input[type="checkbox"] {
    &::before {
        border-radius: calc(var(--border-radius) - .1rem);
    }

    &.switch {
        width: 4rem;
        height: var(--line-height);
        overflow: initial;
        margin-top: calc(-1 * var(--border-width));
        margin-bottom: calc(-1 * var(--border-width));

        &::before {
            width: 2rem;
            top: var(--border-width);
            bottom: var(--border-width);
            left: var(--border-width);
            right: auto;
            line-height: calc(var(--line-height) - (4 * var(--border-width)));
            background-color: hsl(var(--color-secondary));
            transition: .1s background-color ease-out, .1s left ease-out;
        }

        &:checked::before {
            background: hsl(var(--color-success));
            left: calc(4rem - 2rem - (3 * var(--border-width)));
        }
    }
}
