:is(
    input[type="checkbox"],
    input[type="radio"]
) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 0;
    border-radius: var(--radius);
    box-shadow: var(--shadow-border) hsl(var(--color-secondary));
    padding: 0;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: hsl(var(--color-background));

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:focus {
        background-color: hsla(var(--color-secondary), .2);
    }

    &::before {
        position: absolute;
        content: "";
        display: block;
        inset: 2px;
        background-color: transparent;
        transition: .05s background-color ease-out;
    }

    &:checked::before {
        background-color: hsl(var(--color-primary));
    }
}

input[type="radio"] {
    border-radius: 50%;

    &::before {
        border-radius: 50%;
    }
}

input[type="checkbox"] {
    &::before {
        border-radius: calc(var(--radius) - .1rem);
    }

    &.switch {
        width: 2.5rem;
        height: 1.2rem;
        overflow: initial;
        margin-top: calc(-1 * 2px);
        margin-bottom: calc(-1 * 2px);

        &::before {
            width: calc(1.2rem - (2 * 2px));
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: auto;
            background-color: hsl(var(--color-secondary));
            transition: .05s background-color ease-out, .05s left ease-out;
        }

        &:checked::before {
            background: hsl(var(--color-success));
            left: calc(2.5rem - .8rem - (2 * 2px));
        }
    }
}
