:is(form, fieldset) {
    display: flex;
    flex-direction: column;

    border: 0;
    padding: 0;
    margin: 0;

    &>details[open]>summary {
        margin-bottom: var(--space-xs);
    }

    &>footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--space-xs);

        margin-top: var(--space);
    }
}

form fieldset {
    margin-bottom: var(--space);

    &>legend {
        position: relative;
        display: block;
        margin-right: auto;
        text-transform: uppercase;
        color: hsl(var(--color-secondary));
        font-size: .8rem;
        font-weight: 600;
        letter-spacing: .05rem;
    }

    &>label {
        margin-bottom: 1px;
        border-radius: 0;

        &:first-of-type {
            border-top-left-radius: var(--radius);
            border-top-right-radius: var(--radius);
        }

        &:last-of-type {
            border-bottom-left-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

form label {
    --shadow-color: hsl(var(--color-secondary));

    display: flex;
    align-items: center;
    gap: var(--space-xs);
    color: hsl(var(--color-text));

    box-shadow: var(--shadow-border) var(--shadow-color);
    border-radius: var(--radius);
    padding-left: var(--space-s);

    &:has(input:focus) {
        background-color: hsl(var(--color-secondary) / .2);
        z-index: 1;
    }

    &:has(input:invalid) {
        background-color: hsl(var(--color-danger) / .2);
    }

    &:has(input:disabled) {
        background-color: hsl(var(--color-secondary) / .1);

        * {
            cursor: not-allowed;
        }
    }

    /* label text */
    &>:first-child {
        align-self: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        text-transform: capitalize;
        width: var(--form-label-width);
        min-width: var(--form-label-width);
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
        color: var(--shadow-color);
    }

    &>:last-child {
        flex-grow: 1;
        text-align: right;
    }

    &>:last-child:is(input[type="checkbox"], input[type="radio"]) {
        flex-grow: 0;
    }
}
