details.group {
    summary.button {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        border-radius: 0;
        padding: var(--space-xs) var(--space-s);

        & :first-child {
            flex: 1;
        }
    }

    &[open] summary.button{
        margin-bottom: var(--space-xs);
    }
}
