details.group {
    summary.button {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        padding: var(--space-xs) var(--space-s);

        & :first-child {
            flex: 1;
        }
    }

    &>:is(form, fieldset) {
        margin-top: var(--space-xs);
    }
}
