details.group {
    border-radius: var(--border-radius);
    overflow: hidden;

    summary.button {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        border-radius: 0;
        padding: var(--space-xs) var(--space-s);

        & :first-child {
            flex: 1;
        }
    }

    &>fieldset {
        margin-top: var(--space-xs);
    }
}
