main {
	max-width: 1130px;
}

.docs-section {
	display: none;
}

.docs-section:target {
	display: block;
}

.docs-box {
	border: var(--border);
	padding: var(--space-xs) var(--space-s);
}

.docs-source {
	border: var(--border);
	border-top: 0;
	padding: var(--space-xs) var(--space-s);
	margin-bottom: var(--space);
}

.docs-source summary {
	cursor: pointer;
	color: var(--color-primary);
}

.docs-source summary:hover {
	filter: var(--filter-focus);
}

.docs-source[open] summary {
	margin-bottom: var(--space);
}

.docs-source pre {
	margin-bottom: 0;
	padding: 0;
	margin: 0;
}
