:root {
    --space: 1rem;
    --space-xs: calc(var(--space) * .4);
    --space-s: calc(var(--space) * .8);
    --space-l: calc(var(--space) * 1.2);
    --space-xl: calc(var(--space) * 1.8);

    --line-height: 1.2rem;

    --border-width: 1px;
    --radius: .25rem;

    // for border implemented as a box-shadow
    --shadow-border: 0 0 0 var(--border-width);

    --grid-column-gap: var(--space);
    --grid-row-gap: var(--space);
    --grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));

    --form-label-width: 30%;

    --modal-margin: 2rem auto;
    --modal-width: 50%;
    --modal-min-height: auto;
    --modal-min-width: 600px;

    --toast-width: 400px;

    --dropdown-width: 200px;
}

@media only screen and (max-width: 768px) {
    :root {
        --space: .8rem;

        --grid-column-gap: .4rem;
        --grid-row-gap: .4rem;
        --grid-template-columns: 1fr;

        --modal-margin: 0;
        --modal-width: 100%;
        --modal-min-height: 100%;
        --modal-min-width: auto;

        --toast-width: 100%;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::after, ::before {
        transition: none !important;
        animation: none !important;
    }
}

*, ::after, ::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);

    background-color: hsl(var(--color-background));
    color: hsl(var(--color-text));

    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.hide {
    display: none !important;
}

@import "theme";
@import "typography/base";
@import "layout/base";
@import "elements/base";
@import "controls/base";
@import "nav/base";
