:root {
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-monospace: "Consolas", monospace;
    --font-size: 18px;
    --font-weight: 400;

    --space: 1rem;
    --space-xs: .4rem;
    --space-s: .8rem;
    --space-l: 1.2rem;
    --space-xl: 1.8rem;

    --line-height: 1.5rem;

    --border-width: 1px;
    --border: var(--border-width) solid var(--color-default);
    --border-radius: .25rem;

    --grid-column-gap: var(--space);
    --grid-row-gap: var(--space);
    --grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));

    --form-label-width: 30%;

    --modal-margin: 2rem auto;
    --modal-width: 50%;
    --modal-min-height: auto;
    --modal-min-width: 600px;

    --shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    /* default colors */
    --hue-primary: 205;
    --hue-secondary: 205;
    --hue-danger: 0;
    --hue-success: 115;
    --hue-background: 205;

    --lightness-step: 5%;
    --lightness-normal: 50%;
    --lightness-dimmed: 30%;
    --lightness-background: 15%;

    --saturation-normal: 70%;
    --saturation-dimmed: 20%;
    --saturation-background: 20%;

    --color-text: hsl(0, 0%, 100%);
    --color-inverse: hsl(0, 0%, 100%);

    /* default */
    --color-default: hsl(var(--hue-secondary), var(--saturation-dimmed), var(--lightness-dimmed));
    --color-primary: hsl(var(--hue-primary), var(--saturation-normal), var(--lightness-normal));
    --color-danger:  hsl(var(--hue-danger), var(--saturation-normal), var(--lightness-normal));
    --color-success: hsl(var(--hue-success), var(--saturation-normal), var(--lightness-normal));

    /* focus, hover */
    --color-default-focus: hsl(var(--hue-secondary), var(--saturation-dimmed), calc(var(--lightness-dimmed) + var(--lightness-step)));
    --color-primary-focus: hsl(var(--hue-primary), var(--saturation-normal), calc(var(--lightness-normal) + var(--lightness-step)));
    --color-danger-focus:  hsl(var(--hue-danger), var(--saturation-normal), calc(var(--lightness-normal) + var(--lightness-step)));
    --color-success-focus: hsl(var(--hue-success), var(--saturation-normal), calc(var(--lightness-normal) + var(--lightness-step)));

    /* active */
    --color-default-active: hsl(var(--hue-secondary), var(--saturation-dimmed), calc(var(--lightness-dimmed) + var(--lightness-step) * 2));
    --color-primary-active: hsl(var(--hue-primary), var(--saturation-normal), calc(var(--lightness-normal) + var(--lightness-step) * 2));
    --color-danger-active:  hsl(var(--hue-danger), var(--saturation-normal), calc(var(--lightness-normal) + var(--lightness-step) * 2));
    --color-success-active: hsl(var(--hue-success), var(--saturation-normal), calc(var(--lightness-normal) + var(--lightness-step) * 2));

    /* background */
    --color-default-background: hsl(var(--hue-background), var(--saturation-background), calc(var(--lightness-background) + var(--lightness-step)));
    --color-primary-background: hsl(var(--hue-background), var(--saturation-background), var(--lightness-background));
    --color-danger-background:  hsl(var(--hue-danger), var(--saturation-background), var(--lightness-background));
    --color-success-background: hsl(var(--hue-success), var(--saturation-background), var(--lightness-background));

    /* icons */
    --icon-arrow: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M0,5 l10,10,10,-10z"/></svg>');
    --icon-link: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M8.6 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.7a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.6a.5.5 0 0 0 .5-.5z M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.8L6 9a.5.5 0 1 0 .7.7L15 1.7V5.5a.5.5 0 0 0 1 0v-5z"/></svg>');
}

@media only screen and (max-width: 768px) {
    :root {
        --space: .4rem;

        --modal-margin: 0;
        --modal-width: 100%;
        --modal-min-height: 100%;
        --modal-min-width: auto;

        --grid-column-gap: .4rem;
        --grid-row-gap: .4rem;
        --grid-template-columns: 1fr;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::after, ::before {
        transition: none !important;
        animation: none !important;
    }
}

*, ::after, ::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);

    background-color: var(--color-primary-background);
    color: var(--color-text);

    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-top: var(--border);
}

.hide {
    display: none !important;
}

@import "typography";
@import "layout/base";
@import "controls/base";
@import "components/base";
@import "nav/base";
