html {
    --color-text: 0, 0%, 99%;
    --color-background: 220, 16%, 16%;

    --color-primary: 213, 62%, 56%;
    --color-secondary: 220, 16%, 32%;
    --color-danger: 350, 62%, 56%;
    --color-success: 160, 62%, 56%;

    --filter-focus: opacity(.6);
    --filter-active: brightness(1.1);
}
