h1 {
    font-size: 2rem;
    line-height: 2rem;
    border-bottom: var(--border);
    border-image: linear-gradient(to right, var(--color-secondary), transparent) 1;
    padding: 1rem 0;
    margin: 1rem 0;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 0;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0;
    margin: 0 0 1rem 0;
}

h4, h5, h6 {
    display: none;
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:is(:hover, :focus) {
        color: var(--color-primary-focus);
    }

    &:active {
        color: var(--color-primary-active);
    }

    &[target="_blank"]::after {
        content: "";
        width: .8rem;
        height: .8rem;
        margin-left: .2rem;
        mask: var(--icon-link) center no-repeat;
        -webkit-mask: var(--icon-link) center no-repeat;
        display: inline-block;
        background-color: currentColor;
    }
}

ol, ul {
    padding-left: var(--space);
}

code,
kbd,
samp {
    font-family: var(--font-monospace);
    font-size: 1rem;
    line-height: var(--line-height);
}

pre,
blockquote,
.spoiler,
.note {
    --private-color-block: var(--color-secondary);

    display: block;
    margin: 1rem 0;
    padding: var(--space-xs) var(--space-s);
    border: var(--border);
    border-color: var(--private-color-block);
    border-left-width: calc(var(--border-width) * 4);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: var(--color-text);
    background-color: var(--color-primary-background);
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1rem;
    line-height: var(--line-height);

    & code {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
    }
}

details {
    &>summary {
        cursor: pointer;
        list-style-type: none;
        user-select: none;

        &::-webkit-details-marker  {
            display: none;
        }

        &::before {
            content: " ";
            display: inline-block;
            position: relative;
            top: -.05rem;
            width: .6rem;
            height: .6rem;
            transform: rotate(-90deg);
            mask: var(--icon-arrow) center no-repeat;
            -webkit-mask: var(--icon-arrow) center no-repeat;
            background-color: currentColor;
            transition: transform .1s ease-out;
            margin-right: var(--space-xs);
        }
    }

    &[open]>summary::before{
        transform: rotate(0);
    }
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.dimmed {
    opacity: .5;
}

.note,
.spoiler {
    --private-color-block: var(--color-primary);

    &.success {
        color: var(--color-text);
        --private-color-block: var(--color-success);
    }

    &.danger {
        color: var(--color-text);
        --private-color-block: var(--color-danger);
    }

    &>:is(header, summary) {
        font-weight: bold;
        border-bottom: var(--border);
        border-color: var(--private-color-block);
        color: var(--private-color-block);
        padding: 0 var(--space-s) var(--space-xs) var(--space-s);
        margin: 0 calc(var(--space-s) * -1);

        &+* {
            margin-top: var(--space-xs);
        }
    }

    &>:first-child {
        margin-top: 0;
    }

    &>:last-child {
        margin-bottom: 0;
    }
}

.spoiler {
    --private-color-block: var(--color-secondary);

    &>summary {
        cursor: pointer;
        user-select: none;
        color: var(--color-text);
        font-weight: normal;
    }

    &:not([open])>summary {
        border-bottom: 0;
        padding-bottom: 0;
    }
}
