details.dropdown {
    position: relative;

    &>summary {
        display: block;

        &::after {
            display: block;
            content: "...";
            text-align: center;
        }

        &:not(:empty)::after {
            display: inline-block;
            content: "";
            margin-left: var(--space-s);
            background-color: currentColor;
            mask-image: var(--icon-arrow);
            -webkit-mask-image: var(--icon-arrow);
            width: .6rem;
            height: .6rem;
        }

        &::before {
            // unset details properties
            content: none;
            width: unset;
            height: unset;
            transform: none;
            mask: none;
            -webkit-mask: none;
            background-color: transparent;
            transition: none;
            margin: 0;
        }
    }

    &[open]>summary {
        background-color: hsla(var(--color-primary), .2);
        overflow: unset;

        &:focus {
            filter: none;
        }

        &:not(:empty)::after {
            mask-image: var(--icon-close);
            -webkit-mask-image: var(--icon-close);
        }

        &::before {
            display: block;
            content: " ";
            position: fixed;
            z-index: 1;
            inset: 0;
            cursor: default;
            background: transparent;
        }
    }

    &>ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        list-style: none;
        margin: 0;
        padding: 0;

        position: absolute;
        z-index: 1;

        border: var(--border);
        border-radius: var(--border-radius);
        overflow: hidden;

        background-color: hsl(var(--color-background));
        width: var(--dropdown-width);
        min-width: 0;

        &>li {
            position: relative;
            display: flex;
            align-items: stretch;

            &:empty {
                border-bottom: var(--border);
            }
        }

        &>li>* {
            display: block;
            width: 100%;

            white-space: nowrap;
            text-align: left;
            font-weight: normal;

            padding: var(--space-xs) var(--space-s);

            color: hsl(var(--color-primary));
            background-color: hsl(var(--color-background));

            &:is(:hover) {
                background-color: hsla(var(--color-primary), .2);
                filter: none;
            }

            &.danger {
                color: hsl(var(--color-danger));
            }

            &.success {
                color: hsl(var(--color-success));
            }
        }
    }

    /* default bottom-left */
    &>ul {
        top: calc(100% + 3px);
        bottom: auto;
        left: 0;
        right: auto;
    }

    &.bottom-right>ul {
        top: calc(100% + 3px);
        bottom: auto;
        left: auto;
        right: 0;
    }

    &.top-left>ul {
        top: auto;
        bottom: calc(100% + 3px);
        left: 0;
        right: auto;
    }

    &.top-right>ul {
        top: auto;
        bottom: calc(100% + 3px);
        left: auto;
        right: 0;
    }
}
