nav {
    display: block;
    width: 100%;
    background-color: var(--color-background);

    &>ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    button,
    input:is([type=button], [type=submit], [type=reset]),
    .button {
        display: block;
        border-radius: 0;
        padding: var(--space-xs) var(--space);

        --color-secondary: var(--color-background);
        --color-inverse: var(--color-text);
    }
}
