nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    background-color: hsl(var(--color-background));
    user-select: none;

    .expand {
        flex-grow: 1;
    }

    &>hr:is(:first-child, :last-child) {
        display: none;
    }

    &>a,
    &>button,
    &>details>summary {
        white-space: nowrap;
        text-align: left;
        font-weight: normal;

        padding: var(--space-xs) var(--space-s);

        color: hsl(var(--color-primary));
        background-color: hsl(var(--color-background));

        &:is(:hover) {
            color: hsl(var(--color-primary));
            background-color: hsl(var(--color-primary) / .2);
        }

        &.danger {
            color: hsl(var(--color-danger));
        }

        &.success {
            color: hsl(var(--color-success));
        }
    }

    &>a.active,
    &>button.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid hsl(var(--color-primary));
        margin-top: -2px;
        padding-top: calc(var(--space-xs) + 2px);
        padding-bottom: calc(var(--space-xs) - 2px);
    }

    &>a[target="_blank"]::after {
        content: none;
        width: unset;
        height: unset;
        margin-left: unset;
        mask: none;
        -webkit-mask: none;
        display: none;
    }
}
