nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--space-xs);

    width: auto;
    background-color: hsl(var(--color-background));
    user-select: none;

    .expand {
        flex-grow: 1;
    }

    &>hr:is(:first-child, :last-child) {
        display: none;
    }

    &>a,
    &>button,
    &>details>summary {
        white-space: nowrap;
        text-align: left;
        font-weight: normal;

        padding: var(--space-xs) var(--space-s);

        border-radius: var(--radius);

        color: hsl(var(--color-primary));
        background-color: hsl(var(--color-background));

        &:is(:hover) {
            background-color: hsl(var(--color-primary) / .2);
            filter: none;
        }

        &.danger {
            color: hsl(var(--color-danger));
        }

        &.success {
            color: hsl(var(--color-success));
        }
    }
}
