body {
    &>header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &>main {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: var(--space);
    }

    &>footer {
        padding: var(--space);
    }
}

.container {
    margin: 0 auto;
    padding: var(--space);
}

@import "grid";
