body {
    width: 100%;
    margin: 0;
    padding: 0;

    &>header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &>main {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: var(--space);
    }

    &>footer {
        padding: var(--space);
    }
}

.container {
    margin: 0 auto;
    padding: var(--space);
}

@media only screen and (max-width: 768px) {
    body {
        &>header {
            position: static;
        }

        &>main{
            padding: var(--space-xs);

            /* space for the hamburger button */
            padding-bottom: calc(var(--line-height) + 2 * var(--space-xs) + var(--space));
        }
    }

    .container {
        padding: var(--space-xs);
    }
}

@import "grid";
