body {
    width: 100%;
    margin: 0;
    padding: 0;

    &>header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &>main {
        width: 100%;
        padding-left: var(--space);
        padding-right: var(--space);
        margin-left: auto;
        margin-right: auto;
    }

    &>footer {
        padding: var(--space);
    }
}

@media only screen and (max-width: 768px) {
    body {
        &>header {
            position: static;
        }

        &>main{
            /* space for the hamburger button */
            padding-bottom: calc(var(--line-height) + 2 * var(--space-xs) + var(--space));
        }
    }
}
